<!--
  1)	Bedrooms: Studio, 1, 2, 3, 4+
  2)	Double bedrooms: casillas a clicar 0, 1, 2, 3, 4+
  3)	Bathrooms = 1, 2, 3, 4+ 
  4)	“Move in”: calendario 
  5) Price per month: slider + dos casillas numéricas 
  6) District: desplegable con los barrios. Se pueden escoger varios a la vez
  7) Size: slider con dos casillas 
  8) “Great for school”: 4 logos IESE, ESADE, EADA, La Salle para seleccionar uno
  -->

<form>
  <div class="form-group">
    <label for="bedrooms">Bedrooms</label><br/>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-info">
				<input type="checkbox"> Studio
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 1
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 2
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 3
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 4+
			</label>
		</div>
  </div>
  <div class="form-group">
    <label for="dblBedrooms">Double bedrooms</label><br/>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-info">
				<input type="checkbox"> 0
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 1
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 2
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 3
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 4+
			</label>
		</div>
  </div>
  <div class="form-group">
    <label for="bathrooms">Bathrooms</label><br/>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-info">
				<input type="checkbox"> 0
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 1
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 2
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 3
			</label>
			<label class="btn btn-info">
				<input type="checkbox"> 4+
			</label>
		</div>
  </div>
  <div class="form-group">
    <label for="movein">Move in</label>
    <input type="date" class="form-control" name="movein" id="movein">
  </div>
  <div class="form-group">
    <label for="price">Price per month</label>
    <input type="number" class="form-control" name="price" id="price">
	<b>€ 250</b>
	<input id="price-range" type="text" class="span2" value=""
		data-slider-min="250" data-slider-max="2000"
		data-slider-step="5" data-slider-value="[250,450]"/>
	<b>€ 2000</b>
  </div>
  <button type="button" class="btn btn-primary">Search</button>
</form>