<style>
	.todo-done {
		text-decoration: line-through;
		color: #BBB;
	}
</style>

<div class="container" style="margin: 1em">
	<div class="row">
		<h2>ToDo</h2>
		<div class="col-md-8 col-md-offset-2 well">
			<div class="form-group">
				<input class="form-control" placeholder="What needs to be done?"
					mn-event="keypress => keyPressed" autofocus>
				<div class="todo-list" style="margin-top: 1em"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-danger" type="button" mn-click="deleteCompleted">
			Delete completed items
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
</div>
