<div class="container-fluid" style="padding-left:30px; padding-right: 30px">
	<div class="row">

		<h2>Edit User</h2>

		<form class="form-horizontal" mn-submit="save">

			<input-wide name="email" label="e-mail" value="{{user.email}}"></input-wide>
			<input-wide name="name" label="Name" value="{{user.name}}"></input-wide>
			<input-wide name="surname" label="Surname" value="{{user.surname}}"></input-wide>
			<input-wide name="mobile" label="Mobile phone" value="{{user.mobile}}"></input-wide>

			<div class="col-sm-12 text-center">
				<button type="submit" class="btn btn-primary">
					Update
				</button>&nbsp;
				<a href="#users" class="btn btn-default">
					Cancel
				</a>
			</div>

		</form>

	</div>
</div>