<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h3>Search criteria</h3>
			<div fz-subview="user-filter"></div>
		</div>
		<div class="col-md-9">
			<h2>Users</h2>

			<table class="table table-hover">
				<thead>
					<tr>
						<th style="text-align: center; width: 100px">Actions</th>
						<th>e-mail</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Mobile</th>
					</tr>
				</thead>
				<tbody>
					{{#users}}
					<tr>
						<!-- Action buttons -->
						<td style="text-align: center" class="nowrap">
							<a href="#user/{{id}}" class="btn btn-warning btn-sm">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</a>
							<button class="btn btn-danger btn-sm" type="button">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
						<!-- Rest of columns -->
						<td class="nowrap">
							{{email}}
						</td>
						<td class="nowrap">
							{{name}}
						</td>
						<td class="nowrap">
							{{surname}}
						</td>
						<td class="nowrap">
							{{mobile}}
						</td>
					</tr>
					{{/users}}
				</tbody>
			</table>

		</div>
  </div>
</div>
